* {
  margin: 0px;
  box-sizing: border-box;
}

body {
  background-color: rgb(34, 34, 34);
}

header {
  padding: 10px 2px;
  display: flex;
  align-items: center;
}

.header-menu {
  display: flex;
  align-items: center;
  gap: 20px;
}
.canvas-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

canvas {
  background-color: red;
  width: 600px;
  height: 600px;
}
